gradlew
gradlew.bat
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.idea/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
out/
build/